<div class="homepage-top">
  <span class="homepage-top-duver-title">Duver</span>
  <span class="homepage-top-app-title">App</span>
</div>
<div class="homepage-div" style="height: 100vh">
  <div style="text-align: center">
    <h1>
      <span class="homepage-welcome-title">Welcome to </span>
      <span class="homepage-duver-title">Duver</span>
      <span class="homepage-app-subtitle">App</span>
    </h1>

    <span pTooltip="Coming Soon" tooltipPosition="bottom">
      <p-button
        label="Sign In"
        [raised]="true"
        severity="warning"
        class="sign-in-button"
      />
    </span>

    <span pTooltip="Coming Soon" tooltipPosition="bottom"
      ><p-button
        label="Log In"
        [raised]="true"
        severity="danger"
        class="log-in-button"
    /></span>

    <p-button
      label="Calculate"
      [raised]="true"
      severity="contrast"
      class="calculate-button"
    />
  </div>
</div>
