<div class="homepage-top">
  <div class="homepage-top-duver-title">
    Duver<span class="homepage-top-app-title">App</span>
  </div>
</div>

<div class="homepage-main-container">
  <div class="homepage-div-left">
    <div class="homepage-left-content">
      <h1 class="homepage-welcome-title">
        Welcome to<br />
        <span class="homepage-duver-title">DuverApp</span>
      </h1>

      <span pTooltip="Coming Soon" tooltipPosition="bottom">
        <p-button
          label="Sign In"
          class="sign-in-button"
          [raised]="true"
          severity="warning"
        />
      </span>

      <span pTooltip="Coming Soon" tooltipPosition="bottom">
        <p-button
          label="Log In"
          class="log-in-button"
          [raised]="true"
          severity="danger"
        />
      </span>

      <p-button
        label="Calculate"
        class="calculate-button"
        [raised]="true"
        severity="contrast"
      />
    </div>
  </div>

<div class="homepage-divider"></div>

  <div class="homepage-div-right">
    <div class="homepage-right-content">
      sağ tarafffffffffff<br />
      içeriği
    </div>
  </div>
</div>
