/* You can add global styles to this file, and also import other style files */
/* styles.scss */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #eeeeee;
  --bg-color: #393e46;
  --primary-color: #f71811;
  --secondary-color: #0059ff;
  --navbar-color: #222831;
  --btn-color: #00adb5;
}
.duver-icon-medium {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}
.cl-red {
  color: #f71811e3;
}
.cl-darkblue {
  color: #080c14;
}
.bg-cl-darkblue {
  background-color: #080c14;
}
.bg-cl-dark {
  background-color: #393e46;
}
