<div class="navbar-container">
  <div class="navbar-content">
    <img
      src="assets/icons/duverappicon.png"
      alt="DuverApp Icon"
      class="duver-icon-medium"
      routerLink="/home"
    />

    <div class="navbar-buttons">
      <span pTooltip="Coming Soon" tooltipPosition="bottom">
        <p-button
          label="Sign Up"
          class="sign-in-button"
          [raised]="true"
          icon="pi pi-user-plus"
        ></p-button>
      </span>

      <span pTooltip="Coming Soon" tooltipPosition="bottom">
        <p-button
          label="Log In"
          class="log-in-button"
          [raised]="true"
          icon="pi pi-sign-in"
        ></p-button>
      </span>
    </div>
  </div>
</div>
