<div class="navbar-container">
  <div class="navbar-content">
    <!-- Sol bölüm: Logo -->
    <div class="navbar-left">
      <img
        src="assets/icons/duverappicon.png"
        alt="DuverApp Icon"
        class="duver-icon-medium"
        routerLink="/"
      />
    </div>

    <!-- Orta bölüm: Şimdilik boş -->
    <div class="navbar-center">
      <!-- Gelecekte içerik buraya eklenecek -->
    </div>

    <!-- Sağ bölüm: Şu an sadece Log In butonu -->
    <div class="navbar-right">
      <span pTooltip="Coming Soon" tooltipPosition="bottom">
        <p-button
          label="Sign in"
          [link]="true"
          styleClass="sign-in-button"
          [style]="{ color: '#EEEEEE' }"
          icon="pi pi-sign-in"
          class="sign-in-button"
          iconPos="right"
        ></p-button>
      </span>
    </div>
  </div>
</div>
